[safe]
	directory = /storage/emulated/0/Download/sanna ai
	directory = /storage/emulated/0/Download/sanna ai
	directory = /storage/emulated/0/Download/sanna-ai
	directory = /storage/emulated/0/Download/sanna-ai
	directory = /storage/emulated/0/Download/sanna-ai
	directory = /storage/emulated/0/Download/bootanimation
	directory = /storage/emulated/0/Download/Chat-masingar
	directory = /storage/emulated/0/Download/Chat-masingar
	directory = *
[user]
	name = aalter237-blip
	email = you@example.com
[credential "https://github.com"]
	helper = 
	helper = !/data/data/com.termux/files/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/data/data/com.termux/files/usr/bin/gh auth git-credential
